@model IEnumerable<Proyecto>  

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Mis trabajos recientes</h1>
        <p>Quípuedes ver uno de mis trabajos mas recientes</p>
    </div>

    <partial name="_ListadoProyectos" model="Model"/>
}
